:root {
  --bg-color-dark: #02020A;
  --color-light: #F3F3F3;
  --color-red: #C66A5F;
  --color-maroon: #79131C;
  --color-light-gray: #A0A0A0;
  --font-color: #02020A;
}

body {
  font-family: Open Sans;
  color: var(--font-color);
  background-color: var(--color-light);
}

/* NAV */
.menu-button {
  position: fixed;
  display: inline-block;
  top: 0;
  margin-top: 2.5%;
  margin-left: 2.5%;
  cursor: pointer;
  z-index: 2;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: var(--color-light);
  overflow: hidden;
  transition: 0.5s;
}

.overlay a {
  width: 50%;
  padding: 1.25% 0;
  margin: .5%;
  text-decoration: none;
  font-size: 250%;
  color: var(--color-maroon);
  background-color: var(--color-light-gray);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

.overlay a:hover {
  text-decoration: none;
  color: var(--color-red);
  background-color: var(--color-light);
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.75);
}

.vertical-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

.overlay .closebtn {
  cursor: pointer;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 60px;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
}

span.closebtn:hover, span.closebtn:focus {
  transition: 1000ms;
  color: var(--color-red);
  outline: none !important;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.8s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.sidenav {
  width: 5%;
  position: fixed;
  text-align: center;
  background-color: var(--bg-color-dark);
  overflow: hidden;
}

.sidenav a {
  padding: 2.5%;
  text-decoration: none;
  font-size: 250%;
  color: var(--color-light);
}

.sidenav a:hover {
  text-decoration: none;
  color: var(--color-red);
}
/* NAV */

/* PAGES */
.page {
  margin-left: 2.5%;
  animation: 1.25s cubic-bezier(0.215, 0.610, 0.355, 1) slideInFromRight;
}

.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.main-left {
  margin-left: 2.5%;
}

.main-header {
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  font-weight: bold;
  font-size: 500%;
}

.subheader {
  color: var(--color-red);
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  font-size: 250%;
}

P {
  margin: 1.25% 0 0 0;
}

.center-align {
  text-align: center;
}

.flex-row-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
/* PAGES */

/* HOME CONTENT */
.home-content {
  margin-top: 10%;
}
/* HOME CONTENT */

/* PROJECTS */
.project {
  width: 45%;
  margin: 2.5%;
  background-color: var(--color-light-gray);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.project:hover {
  background-color: var(--color-light);
   box-shadow: 0 32px 48px 0 rgba(0,0,0,0.2);
}

.title {
  position: relative;
  padding: 1.25% 2.5%;
  width: fit-content;
  max-width: 75%;
  background-color: var(--color-maroon);
  top: -20px;
  left: -10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.project:hover .title {
  top: -22.5px;
  left: -12.5px;
  box-shadow: 0 32px 48px 0 rgba(0,0,0,0.2);
}
  
.project h2 {
  color: var(--color-light);
  font-size: 200%;
  transition: .5s;
}

.project h5 {
  color: var(--color-light);
  font-size: 125%;
  transition: .5s;
}

.project:hover h5 {
  color: var(--color-red);
  font-size: 150%;
}

img {
  max-width: 95%;
  height: auto;
}
/* PROJECTS */

/* BUTTONS */
.button-group {
  margin-top: 7.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


a.button {
  background-color: var(--color-red);
  color: var(--font-color);
  border: none;
  padding: 1.25%;
  margin: .5%;
  width: 50%;
  cursor: pointer;
  font-size: 150%;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

.button:hover {
  color: var(--color-light-gray);
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.75);
}

.button:active {
  transform: translateY(4px);
}

.button:focus {
  outline: none !important;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}
/* BUTTONS */

/* CONTACT */
#contactButtons {
  animation: 1.25s cubic-bezier(0.215, 0.610, 0.355, 1) slideInFromRight;
}

.form-group {
  margin-top: 7.5%;
  margin-left: 25%;
}

#contactForm {
  animation: 1.25s cubic-bezier(0.215, 0.610, 0.355, 1) slideInFromRight;
}

input, textarea {
  font-size: 150%;
  width: 66.6%;
  background: none;
  color: var(--font-color);
  border-style: none none solid none;
  border-width: 1.5px;
  border-color: var(--color-red);
  padding: 2.5% 0 .25% 0;
  display: block;
}

textarea {
  resize: none;
  height: 25vh;
}

.button-group-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
  max-width: 66.6%;
}

input.button {
  background-color: var(--color-red);
  color: var(--font-color);
  border: none;
  padding: 1.25%;
  margin-top: 2.5%;
  cursor: pointer;
  font-size: 150%;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

input.button:hover {
  color: var(--color-light-gray);
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.75);
}

input.button:active {
  transform: translateY(4px);
}

input.button:focus {
  outline: none !important;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}

input:focus, textarea:focus {
  outline: none !important;
}

#cancel {
  background-color: var(--color-maroon);
}

#cancel:hover {
  color: var(--color-red);
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
}

.comment-contents {
  margin: 0 2.5%;
}
/* CONTACT */

/* ANIMATIONS */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* ANIMATIONS */

/* PLACEHOLDER COLORS */
::-webkit-input-placeholder { 
  /* Chrome/Opera/Safari */
  color: var(--color-red);
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--color-red);
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--color-red);
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--color-red);
  opacity: 1;
}
/* PLACEHOLDER COLORS */

/* HIGHLIGHT COLOR */
::selection {
  color: var(--color-light);
  background: var(--color-maroon);
}
::-moz-selection {
  color: var(--color-light);
  background: var(--color-maroon);
}

img::selection {
  color: none;
  background: none;
}
img::-moz-selection {
  color: none;
  background: none;
}
/* HIGHLIGHT COLOR */

.down-arrow {
  margin-top: 55%;
  text-align: center;
  font-size:500%;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  z-index: -1;
}

.resume {
  position: relative;
  top: 100vh;
  margin-bottom: 5%;
  z-index: 2;
  background-color: var(--color-light);
}

/* ARROW ANIMATION */
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
/* ARROW ANIMATION */

.static {
  position: fixed;
}